.footer {
    background-color: #131A22;
    color: #fff;
    padding: 0;
}

.footer-back-to-top {
    background-color: #37475A;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-back-to-top:hover {
    background-color: #485769;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.footer-section {
    margin: 20px;
    min-width: 200px;
}

.footer-about {
    max-width: 300px;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.footer-about p {
    font-size: 14px;
    color: #ccc;
}

.footer-section h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ddd;
    text-decoration: none;
    font-size: 14px;
    transition: text-decoration 0.3s;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-link-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: #ddd; /* Inherit color from parent, or set a specific link color */
  text-decoration: none; /* Remove underline if desired */
}

.footer-link-button:hover {
  text-decoration: underline; /* Add underline on hover for link-like behavior */
}

.social-media {
    display: flex;
}

.social-media li {
    margin-right: 15px;
}

.social-media li a {
    color: #fff;
    font-size: 20px;
}



@media (max-width: 768px) {
    .footer-container {
        justify-content: center; /* Center the items on smaller screens */
    }

    .footer-section {
        flex-basis: 40%; /* Allow two items per row */
        text-align: center; /* Center the text within each section */
    }

    .footer-about {
        flex-basis: 100%; /* Make the about section full width */
    }

    .social-media {
        justify-content: center; /* Center the social media icons */
    }
}

.footer-bottom {
    background-color: #131A22;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #3a4553;
}

.footer-bottom p {
    font-size: 12px;
    color: #ccc;
    margin: 0;
}